body {
    text-align: center;
    color:darkslateblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:blanchedalmond;
}

img {
    width: 1750px;
    height: 1550px;
}
